/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-weight: 700;*/
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    /*color: #f8f8f8;*/
    background: url(../images/login-bk.png) no-repeat center center;
    background-size: cover;
}

.intro-header-main {
    padding-top: 125px; 
    padding-bottom: 50px;
    text-align: center;
    /*color: #f8f8f8;*/
    /*background: url(../images/login-bk.png) no-repeat center center;*/
    background-size: cover;
}

.intro-message {
    position: relative;
    /*padding-top: 4%;*/
    padding-top: 2%;
    padding-bottom: 0%;
	height:450px;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    /*padding: 50px 0;
	background-color: #f8f8f8;*/
	padding: 10px 0;
    background-color: #ebebeb;
	border-top:1px solid #000000;
    margin:0 auto;
    /*position:fixed;*/
    bottom:0;

}

p.copyright {
    margin: 15px 0 0;
}


/*Login*/
.sign-up {
  position: relative;
  margin: 50px auto;
  /*width: 280px;*/
  width: 350px;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.sign-up:before, .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.sign-up-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 95%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  color:#1a1a1a;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f0776c;
  border: 0;
  border-bottom: 2px solid #d76b60;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #d76b60;
  box-shadow: inset 0 -2px #d76b60;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#heading-sym img{
	/*vertical-align:bottom;
	margin:30px 0px 10px 210px;*/

    vertical-align: bottom;
margin: -50px 0px 10px 500px;
	}
#heading-sym-main img{
	vertical-align:bottom;
	margin:30px 0px 10px 20px;
	
	}
	
	}
/*Login End*/

#mainheader h2 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size:20px;
    color:#000000;
    text-align:center;
}

.lefttitle {
    color:#000000;
    font-size:18px;
    font-weight:700;
    text-align:left;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


#dashimg1 {
    background: url(../Images/PSC.png) no-repeat center center;
    width:325px;
    height:120px;
    float:left;
    color:#61120C;
    font-weight:600;
}

#dashimg1 .pscdivpr{
    text-align: left; 
    float: left;
    padding-left:30px;
    width:170px;
}

#dashimg1 .pscdivch{
    text-align: right;
}
#dashimg2 {
    background: url(../Images/Digitization.png) no-repeat center center;
    width:325px;
    height:120px;
    float:left;
    color:#61120C;
    font-weight:600;
}

#dashimg2 .pscdivpr{
    text-align: left; 
    float: left;
    padding-left:30px;
    width:170px;
}

#dashimg2 .pscdivch{
    text-align: right;
}

#dashimg3 {
    background: url(../Images/hosting.png) no-repeat center center;
    width:325px;
    height:120px;
    float:left;
    color:#61120C;
    font-weight:600;
}

#dashimg3 .pscdivpr{
    text-align: left; 
    float: left;
    padding-left:30px;
    width:170px;
}

#dashimg3 .pscdivch{
    text-align: right;
}

#dashimg4 {
    background: url(../Images/software.png) no-repeat center center;
    width:325px;
    height:120px;
    float:left;
    color:#61120C;
    font-weight:600;
}
#dashimg4 .pscdivpr{
    text-align: left; 
    float: left;
    padding-left:30px;
    width:170px;
}

#dashimg4 .pscdivch{
    text-align: right;
}

.clientbox {
    width: 290px; 
    height: 28px; 
    background-color: #f2f2f2; 
    color: #000000;
}

#agrbox {
    background-color: #ffffff; 
    border-bottom: 1px solid #000000; 
    border-right: 1px solid #000000; 
    border-left: 1px solid #000000; 
    border-top: 1px solid #000000;
    width:290px;height:300px;
}

#agrbox .agrboxheader {
    background-color:#01537e;
    width:100%;
    height:35px;
    text-align:center;
    padding:5px 5px;
    color:#ffffff;
    font-weight:400;
    font-size:18px;
}

#agrbox .subhead {
    background-color:#e3e3e3;
    width:100%;
    height:28px;
    text-align:left;
    padding:2px 5px;
    color:#000000;
    font-weight:400;
    font-size:18px;
}
#agrbox .contain {
    width:100%;
    text-align:left;
    padding:3px 15px;
    color:#000000;
    font-weight:800;
    font-size:13px;
    line-height:20px;
}
#agrbox a {
    text-align:left;
    color:#000000;
    text-decoration:none;
    font-weight:800;
    font-size:13px;
    line-height:20px;
}
