@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
  background-image: url('../img/digital_world_184571.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:10%;
  font-family: 'Numans', sans-serif;
}

.layer {
   background-color: rgba(0,0,0,0.5) !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	background-color: #ff8533;
	border: 1px solid #ff8533;
	border-radius: 0px
}

.login-btn{
	background-color: #ff8533;
	color:#fff;
}

.login-btn:hover{
	background-color: #e65c00;
	color:#fff;
}

.login-input{
	background-color: transparent!important;
	color:#fff
}

.clogo-div{
	background-color: #fff;
	width:150px;
	margin-top:10px;
}

#clogo{
	width: 150px;
	padding: 5px;
}

.login-form  .form-control {
    min-height: 41px;
	background: #fff;
	box-shadow: none !important;
	border-color: rgba(255, 255, 255, 0.2);
}

.login-form .form-control:focus {
	border-color: #ff884d;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

 .login-form .form-control, .btn {        
    border-radius: 2px;
 }
 
.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 100px 0 30px;		
}

.login-form form {
	color: #7a7a7a;
	border-radius: 2px;
   	margin-bottom: 15px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;	
 }
 
.login-form h3 {
	   font-size: 13px;
	   font-weight:bold;
	   padding: 5px;
	   color:#004d99;
	   font-family:sans-serif;
 }
   
.login-form .avatar {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background-color: rgba(255, 255, 255, 0.05) !important;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #ff8533;
}

 .login-form input[type="checkbox"] {
     margin-top: 2px;
 } 
 
.login-form a {
	color: #fff;
	text-decoration: underline;
}

.login-form a:hover {
	text-decoration: none;
}

.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}

.login-form form a:hover {
	text-decoration: underline;
}