body{
	background-color: #fff;
	font-size: 11px;
} 
.cantent{
	margin-top: 60px;
}

/* .custom-tb tbody {
    display:block;
    width:100%;
    overflow:auto;
}
.custom-tb tbody {
    display:block;
    height:250px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;even columns width , fix width of table too
}
thead {
    width: calc( 100% - 1em )scrollbar is average 1em/16px width, remove it from thead width
} */
/* .page-header{
	margin-top:0px;
} */
/* .in-width{
	width: 100%!important;
} */
.div-head{
	background-color: #e65c00;
	color: #fff;
	font-weight:bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top:0px;
}

.label-text{
	text-align: right;
	vertical-align: middle!important;
}

.form-btn{
	width: 200px;
	
}
.error-text{
	font-size: 12px;
}

.form-margin{
	margin-top: 20px;
}

.borderless td, .borderless th {
    border: none!important;
}
.required:after { 
	content:" *"; 
	color: #ff0000;
	}
.true{
	color: #339966;
}	
.false{
	color: #cc0000;
}

.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }
  
  .card-counter.warning{
    background-color: #ff8040;
    color: #FFF;
  }  

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  
  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }
  
.row-bgcolor{
	background-color: #e65c00;
	color: #fff;
}
.centered-modal.in {
    display: flex !important;
}
.centered-modal .modal-dialog {
    margin: auto!important;
}
.ui-icon { width: 16px; height: 16px; background-image: url(/resources/img/ui-icons_cccccc_256x240.png); 